<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 화면</title>
    <style>
        .detail table {
            width: 100%;
            border-collapse: collapse;

        }

        .detail table th, .list table td {
            border: 1px solid #000;
        }
        .buttons {
            margin-top: 20px;
            text-align: center;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function (){
        });
    </script>
</head>
<body>
    <h1>강좌 관리 - 강좌 등록</h1>
    <div th:replace="/fragments/layout.html :: fragment-admin-body-menu"></div>
    <form method="post" action>
        <div class="detail">
            <table>
                <tbody>
                    <tr>
                        <th>
                            강좌 카테고리
                        </th>
                        <td>
                            <select name="categoryId" required>
                                <option value="">카테고리 선택</option>
                                <option value="1">프로그래밍</option>
                                <option value="2">기획</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            강좌명:
                        </th>
                        <td>
                            <input th:value="${detail.subject}" type="text" name="subject" required placeholder="강좌명 입력"/>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="buttons">
                <button th:if="${editMode}" type="submit">강좌 수정 하기</button>
                <button th:if="${!editMode}" type="submit">강좌 등록 하기</button>
                <a href="/admin/course/list">목록으로 이동</a>
            </div>
        </div>
    </form>
</body>
</html>