<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 화면</title>
    <style>
        .detail table {
            width: 100%;
            border-collapse: collapse;

        }
        .detail table th, .detail table td {
            border: 1px solid #000;
        }
    </style>
</head>
<body>
    <div th:replace="/fragments/layout.html :: fragment-admin-body-menu"></div>
    <h1>관리자 회원 관리 - 회원 상세 정보</h1>
   <div class="detail">
       <table>
           <tbody>
                <tr>
                    <th>아이디</th>
                    <td th:text="${member.userId}"></td>
                </tr>
                <tr>
                    <th>이름</th>
                    <td th:text="${member.userName}"></td>
                </tr>
                <tr>
                    <th>연락처</th>
                    <td th:text="${member.phone}"></td>
                </tr>
                <tr>
                    <th>가입일</th>
                    <td th:text="${member.regDt}"></td>
                </tr>
                <tr>
                    <th>이메일 인증</th>
                    <td th:text="${member.emailAuthYn}"></td>
                </tr>
                <tr>
                    <th>회원 구분</th>
                    <td th:text="${member.role}"></td>
                </tr>
                <tr>
                    <th>회원 상태</th>
                    <td>
                        <p>
                            현재 상태 : <span th:text="${member.userStatus}"></span>
                        </p>
                        <div>
                            <form method="post" action="/admin/member/status">
                                <input type="hidden" name="userId" th:value="${member.userId}"/>
                                <select name="userStatus">
                                    <option value="REQUESTING">가입승인중</option>
                                    <option value="AVAILABLE">정상이용중</option>
                                    <option value="UNAVAILABLE">정지</option>
                                </select>
                                <button type="submit">상태 변경</button>
                            </form>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>비밀번호 초기화</th>
                    <td>
                        <div>
                            <form method="post" action="/admin/member/password">
                                <input type="hidden" name="userId" th:value="${member.userId}"/>
                                <input type="text" name="password"/>
                                <button type="submit">비밀번호 초기화</button>
                            </form>
                        </div>
                    </td>
                </tr>
           </tbody>
       </table>
       <div>
           <a href="list">목록으로 이동</a>
       </div>
       <div>
           <table>
               <thead>
                   <tr>
                       <th>No</th>
                       <th>로그인 일자</th>
                       <th>접속 IP</th>
                       <th>접속 UserAgent</th>
                   </tr>
               </thead>
               <tbody>
                    <tr th:each="x , i: ${logList}">
                        <td th:text="${i.size - i.index}"></td>
                        <td th:text="${x.accessDateText}"></td>
                        <td th:text="${x.ip}"></td>
                        <td th:text="${x.agent}"></td>
                    </tr>
               </tbody>
           </table>
       </div>
   </div>
</body>
</html>